{% extends "basic.html" %}

{% block content %}
    <form class="col-md-3 mb-0 rounded bg-light mt-2 h-100 shadow " style='min-height:500px; height:500px'>
        <div class="row d-flex  justify-content-center rounded bg-secondary text-light p-0"><b class='mb-1 ml-1' style='font-size:16px'>Фильтры</b></div>
        <div class="row p-2">
            <div class="col">
                <div class="row p-2 d-flex align-items-center justify-content-between">
                    <h6 class='m-0'><b>Время</b></h6>
                    <a href='/main?selectedDate=&selectedMonth=&selectedType={{selectedType}}&onlyNew={{onlyNew}}'><div class='btn btn-link'>Все время</div></a>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5"><h6>Месяц:</h6></div> 
                    <div class="col-md-7"><input id='monthInput' value='{{selectedMonth}}' type='month' onchange="monthRedirect()" style='width:100%'></div> 
                </div>
                <div class='row'>
                    <div class="col">
                        <h6>Даты:</h6>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col" style='max-height:80px; overflow-y:scroll'>
                        <div class="row d-flex justify-content-left align-items-start flex-wrap">
                            {%if warningDates%}
                                {% for warnDate, data in warningDates.items()%}
                                    {%if data[0] > 10 %}
                                        <div class='col-5 m-1 btn btn-danger bg-danger p-0' style='height: 25px;'>
                                    {%else:%}
                                        <div class='col-5 m-1 btn btn-warning bg-warning p-0' style='height: 25px;'>
                                    {%endif%}
                                            <a href="/main?selectedDate={{data[2]}}&selectedMonth={{data[1]}}&selectedType={{selectedType}}&onlyNew={{onlyNew}}">
                                                <div class="row m-0">
                                                    <div class="col-9 text-light p-0 mr-0">
                                                        {{warnDate}}
                                                    </div>
                                                    <div class="text-light border-left col-3 p-0 mr-0">
                                                        {{data[0]}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                {% endfor %}
                            {%else%}
                                <div class='col mr-1 text-secondary p-0 ' style='height: 25px;'>
                                    Нарушения отсутствуют                            
                                </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <hr>
        <div class="row p-2">
            <div class="col-6">
                <h6>Тип нарушения</h6>
            </div>
            <div class="col-6"> 
                <div class="d-flex justify-content-end">
                    <select id='typeSelector' value='' onchange='setType()' class='p-0 m-0'>
                        <option value='0' {%if selectedType == '0' %} selected {%endif%}>Все</option>
                        <option value='1' {%if selectedType == '1' %} selected {%endif%}>Нет на месте</option>
                        <option value='2' {%if selectedType == '2' %} selected {%endif%}>Съемка</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="row p-2 d-flex align-items-center">
            <div class="col">
                <h6>Только новые</h6>
            </div>
            <div class="col-1"> 
                <div class="d-flex justify-content-end">
                    <input id='newCheckBox' onchange='setNewOnly()' type="checkbox" {%if onlyNew == 'true' %} checked {%endif%} >
                </div>
            </div>
        </div>
        <hr>
        <!-- <a class='row w-100 p-2 m-auto text-white font-weight-bold btn btn-primary'>Применить</a> -->
    </form>
    <div class="col-4 mt-2">
        <div class="pr-3">
            <div class='col p-0 rounded bg-light shadow h-100'>
                <div class="row mw-100 m-0 h-100" style='height:500px'>
                    <div class="col-5 border-right overflow-auto mh-100" style='height:500px'>
                        <div class="row sticky-top text-center d-flex justify-content-center bg-secondary rounded-left">
                            <h6 class='text-light m-1'>Рабочие места</h6>
                        </div>
                        {% for user, isNotChecked in users.items() %}
                            <div class="row">
                                {%if selectedUser != user%}
                                    <a href="/main?selectedDate={{selectedDate}}&selectedMonth={{selectedMonth}}&selectedType={{selectedType}}&onlyNew={{onlyNew}}&selectedUser={{user}}" class='text-nowrap text-decoration-none text-truncate mw-100'>
                                        {{user}}
                                        {%if isNotChecked%} 
                                        *
                                        {%endif%}   
                                    </a>
                                {%else%}
                                    <a class='font-weight-bold' href="/main?selectedDate={{selectedDate}}&selectedMonth={{selectedMonth}}&selectedType={{selectedType}}&onlyNew={{onlyNew}}&selectedUser={{user}}" class='text-nowrap text-decoration-none text-truncate mw-100'>
                                        {{user}}
                                        {%if isNotChecked%} 
                                        *
                                        {%endif%}   
                                    </a>
                                {%endif%}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-7 overflow-auto" style='height:500px'>
                        <div class="row sticky-top text-center d-flex justify-content-center bg-secondary rounded-right">
                            <h6 class='text-light m-1'>Нарушения</h6>
                        </div>
                        {% for warnName, warnData in warnings.items() %}
                            {%if selectedWarning != warnData[0]%}
                                <div class="row">
                                    <a href="/main?selectedDate={{selectedDate}}&selectedMonth={{selectedMonth}}&selectedType={{selectedType}}&onlyNew={{onlyNew}}&selectedUser={{selectedUser}}&warnName={{warnData[0]}}">
                                        {{warnName}}  
                                        {%if warnData[1]%} 
                                        *
                                        {%endif%}   
                                    </a>
                                </div>  
                            {%else%}
                                <div class="row">
                                    <a class='font-weight-bold' href="/main?selectedDate={{selectedDate}}&selectedMonth={{selectedMonth}}&selectedType={{selectedType}}&onlyNew={{onlyNew}}&selectedUser={{selectedUser}}&warnName={{warnData[0]}}">
                                        {{warnName}}  
                                    </a>
                                </div>  
                            {%endif%}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 rounded bg-light shadow p-0 mt-2 h-100">
        <div class="row p-0 m-0 border-bottom" style='height: 370px; '>
            {%if selectedImg == "" %}
                <img class='m-0 p-0 w-100 h-100 rounded-top' src="system/select.png">
            {%else %}
                <img class='m-0 p-0 h-100 w-100 rounded' src="{{selectedImg}}" >
                <div class='row w-100  mb-3 ml-0 pr-3 pl-3' style='margin-top: -40px;'>
                    <div class="col rounded bg-light">
                        <div class="row d-flex align-items-center justify-content-space" style='height: 30px;'>
                            <div class='col-10 border-right' style='font-size: 12px;'>{{warnData}}</div>
                            <div class='col-2'>
                                <a class='text-danger deleteLink' href="/deleteWarn?selectedDate={{selectedDate}}&selectedMonth={{selectedMonth}}&selectedType={{selectedType}}&onlyNew={{onlyNew}}&selectedUser={{selectedUser}}&warnName={{selectedWarning}}&selectedImg={{imgRoute}}">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            {%endif %}
        </div>
        <div class="row d-flex d-flex justify-content-left align-items-center flex-nowrap overflow-auto p-0 m-0" style='height: 130px;'>
            {%for imgRoute in imagesList%}
                <a href='/main?selectedDate={{selectedDate}}&selectedMonth={{selectedMonth}}&selectedType={{selectedType}}&onlyNew={{onlyNew}}&selectedUser={{selectedUser}}&warnName={{selectedWarning}}&selectedImg={{imgRoute}}'>
                    {%if imgRoute != selectedImg %}
                        <!-- {{imgRoute}}, <br>{{selectedImg}} -->
                        <img class='m-1' src="{{imgRoute}}" style='height: 110px; width: 180px'>
                    {%else%}
                        <!-- {{imgRoute}}, <br>{{selectedImg}} -->
                        <img class='m-1' src="{{imgRoute}}" style='height: 110px; width: 180px; border: 3px solid #007bff'>
                    {%endif%}
                </a>
            {%endfor%}
        </div>  
    </div>
    
{% endblock %}

{%block scripts%}
    <script>
        function monthRedirect(){
            var input = document.getElementById("monthInput").value;
            var dateEntered = new Date(input);
            let month = dateEntered.getMonth() + 1;
            month = month.toString()
            month = month.length === 1 ? '0' + month : month
            let year = dateEntered.getFullYear().toString();

            window.location.replace("http://localhost:5000/main?selectedDate={{selectedDate}}&selectedMonth="+year+"-"+month+"&selectedType={{selectedType}}&onlyNew={{onlyNew}}");            
        }
        function dateRedirect(){
            var input = document.getElementById("dateInput").value;
            var dateEntered = new Date(input);
            let day = dateEntered.getDate().toString();

            day = day.length === 1 ? '0' + day : day
            let month = dateEntered.getMonth() + 1;
            month = month.toString()
            console.log(month.length)
            month = month.length === 1 ? '0' + month : month
            let year = dateEntered.getFullYear().toString();
            window.location.replace("http://localhost:5000/main?selectedDate="+day+"&selectedMonth="+year+"-"+month+"&selectedType={{selectedType}}&onlyNew={{onlyNew}}");            
        }

        function setType(){
            var selectedType = document.getElementById("typeSelector").value;
            window.location.replace("http://localhost:5000/main?selectedDate={{selectedDate}}&selectedMonth={{selectedMonth}}&selectedType="+selectedType+"&onlyNew={{onlyNew}}");            
        }
    
        function setNewOnly(){
            newCheckBox = document.getElementById("newCheckBox").checked;
            window.location.replace("http://localhost:5000/main?selectedDate={{selectedDate}}&selectedMonth={{selectedMonth}}&selectedType={{selectedType}}&onlyNew="+newCheckBox);
        }
    </script>

    
    
{% endblock %}